:root {
    --primary-color: white;
    --secondary-color: beige;
    --accent1-color: teal;
    --accent2-color: black;
    --heading-front: "White Water Rafting", serif;
    --body-front: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-front);
    color: var(--accent1-color);
}

.horizontal-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    width: 840px;
}

.horizontal-layout nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    border: 1px solid var(--accent2-color);
}

.navigation a {
    display: block;
    padding: 10px 25px;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

header img {
    width: 100px;
    height: auto;
    margin-left: -10px;
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    margin: 16px 0;
    margin-left: -27px;
    padding: 8px;
    width: 840px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

footer img {
    width: 40px;
    height: inherit;
}

.hero {
    margin: auto;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: relative;
    top: 10px;
    width: 840px;
    padding: 10px;
    text-align: center;
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    top: 307px;
    width: 820px;
    padding: 5px;
    padding-bottom: 0px;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: left;
}

.hero article img {
    float: right;
    width: 113px;
}

.history {
    padding: 20px;
}

.inside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.figures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.figures img {
    width: 100%;
    height: auto;
}

.flex-container {
    border: 2px solid var(--accent2-color);
    background-color: lightgray;
    color: var(--accent2-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialmedia {
    display: flex;
    text-decoration: none;
    gap: 10px;

}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.contact p {
    margin: 0px 0;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ddd;
    color: #111;
}

.form-item-column1,
.form-item-column2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

textarea,
.form-item-column1,
.form-item-column2,
.form-item-column3,
button {
    width: 100%;
    margin: 5px;
}

input:not([type="radio"]):not([type="checkbox"]) {
    width: 330px;
    height: 40px;
    margin: 5px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    display: block;
    background-color: navy;
    color: #fff;
    width: 400px;
    padding: 0.75rem;
}

button:hover {
    background-color: var(--accent1-color);
}

footer {
    display: flex;
    align-items: center;
}

.map iframe {
    border: 0;
}