:root {
    --primary-color: white;
    --secondary-color: lightgray;
    --accent1-color: teal;
    --accent2-color: black;
    --heading-front: "White Water Rafting", serif;
    --body-front: 'Roboto',
        Arial,
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-front);
    color: var(--accent2-color);

}

.horizontal-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
    width: 840px;
}

.horizontal-layout nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    border: 1px solid var(--accent2-color);
}

.navigation a {
    display: block;
    padding: 10px 25px;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

header img {
    width: 100px;
    height: auto;
    margin-left: -10px;
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    margin: 16px 0;
    margin-left: -27px;
    padding: 8px;
    width: 840px;
    text-align: center;
    color: var(--accent1-color);
    font-size: 34px;
    text-shadow: 0px 4px 10px var(--secondary-color);
    text-decoration: underline;
}

footer img {
    width: 40px;
    height: inherit;
}

.hero {
    margin: auto;
    position: relative;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    font-size: 40px;
    top: 20px;
    width: 840px;
    padding: 14px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 305px;
    width: 100%;
    padding: 5px;
    padding-bottom: 0px;
    opacity: 0.75;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: left;
    left: -16px;
}

.hero article img {
    float: right;
    width: 123px;
}

.history {
    padding: 20px;
}

.inside {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 30px;
}

.figures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.figures img {
    width: 100%;
    height: auto;
}

.flex-container {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialmedia {
    display: flex;
    text-decoration: none;
    gap: 10px;

}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact p {
    margin: -5px;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.form-item-column1,
.form-item-column2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

textarea,
.form-item-column1,
.form-item-column2,
.form-item-column3,
button {
    width: 100%;
    margin: 5px;
}

input:not([type="radio"]):not([type="checkbox"]) {
    width: 330px;
    height: 40px;
    margin: 5px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    display: block;
    background-color: navy;
    color: var(--primary-color);
    width: 400px;
    padding: 0.75rem;
}

button:hover {
    background-color: var(--accent1-color);
}

footer {
    display: flex;
    align-items: center;
}

.map iframe {
    border: 0;
}

.grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2rem;
}

.grid-items img {
    width: 100%;
}

.trips {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trips a {
    padding: 10px 20px;
    font-size: 25px;
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.riversandpeople {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.rivers img,
.people img {
    width: 100%;
    height: auto;
}

.title {
    width: 328px;
    background-color: transparent;
    color: var(--secondary-color);
    margin: 5px;
    text-shadow: none;
    text-decoration: none;
}

.rivers,
.people {
    padding: 20px 20px;
    background-color: var(--accent1-color);
    box-shadow: 0px 4px 10px var(--accent2-color);
}

.contactus a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 25px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.contactus p {
    font-size: x-large;
    text-align: center;
    color: var(--accent1-color);
}

.trippictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.trippictures img {
    width: 100%;
}

.treesandlake p {
    position: absolute;
    top: 420px;
    width: 220px;
    padding-bottom: 0px;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.treesandlake h2 {
    position: absolute;
    width: 220px;
    top: 740px;
    padding-bottom: 0px;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-decoration: none;
    text-shadow: none;
    font-size: 20px;
    right: 62%;
}

.handsup p {
    position: absolute;
    top: 420px;
    width: 220px;
    padding-bottom: 0px;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.handsup h2 {
    position: absolute;
    width: 220px;
    top: 740px;
    padding-bottom: 0px;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-decoration: none;
    text-shadow: none;
    font-size: 20px;
    right: 42%;
}

.boattrip p {
    position: absolute;
    top: 420px;
    width: 220px;
    padding-bottom: 0px;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.boattrip h2 {
    position: absolute;
    width: 220px;
    top: 740px;
    padding-bottom: 0px;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-decoration: none;
    text-shadow: none;
    font-size: 20px;
    right: 21.5%;
}

.trip1 {
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--accent2-color);
    letter-spacing: 1px;
    margin-bottom: 40px
}

th,
td {
    border: 1px solid var(--accent2-color);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-weight: 700;
}

.explanation {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

.contactus h1,
.contact h1 {
    position: relative;
    opacity: 100%;
}

.contact h1 {
    margin-bottom: 35px;
}